.profile{
    position: relative;
    width: 40%;
    height: 100%;
    background: #fff;
    background-image: url('./wolf.png');
    background-attachment: fixed;
    background-position-x: 2vw;
    background-position-y: 30%;
    background-repeat: no-repeat;
    background-size: 7vw;
}
.profile img{
    position: absolute;
    width: 50%;
    left: 25%;
    bottom: 50%;
}
.profile h1{
    position: absolute;
    bottom:42%;
    left:33%;
    font-size: 2.2vw;
    text-align: center;
}

.profile p{
    font-family: 'Lato';
    font-weight: 100;
    font-size: 1.5vw;
    text-align: center;
    width: 70%;
    position: absolute;
    bottom: 30%;
    left: 15%;
}
.profile p span{
    font-family: 'Lato';
    font-weight: 100;
    color: #f9c34c;
}
.contact-profile{
    position: absolute;
    bottom: 30%;
    left: 30%;
}