.Contact{
    position: absolute;
    top: 10vh;
}
.Contact a{
    color: #111;
    font-size: 1.6vw;
    font-family: 'Montserrat';
    font-weight: 100;
    padding: 0.2vw 2vw;   
    text-align: center;
    border: 1px solid #333;
    text-decoration: none;
}
.Contact a:hover{
    background: rgba(0,0,0,.1)
}