.Footer{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
}
.Contact-form{
    width: 100%;
    height: 50%;
}
.foot{
    background: #222;
    width: 100%;
    height: 50%;
    position: relative;
    bottom: 0;
}
.up-btn{
    background: rgb(249, 195, 76);
    position: absolute;
    width: 8vw;    
    height: 8vw;
    left: 46vw;
    top:-4vw;
    border-radius: 50%;
}
.up-btn:hover{
    background: rgba(249, 195, 76);
}
.up-btn img{
    width: 5vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transform: rotate(-90deg);
}